#DashboardContainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 17% 83%;
  grid-template-rows: 10fr 1fr;
  position: absolute;
}

#LeftNav {
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: purple;
}

#InputContainer {
  grid-column: 2;
  grid-row: 2;
  background-color: white;
  padding: 1rem;
}

#ChatLogContainer {
  grid-column: 2;
  grid-row: 1;
  background-color: white;
  padding: 1rem;
  overflow: scroll;
}

#ChatForm {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#ChatInput {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  border: 1px solid black;
  border-radius: 4px;
}

#message {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px;
  max-height: 3rem;
}

#messageProfile {
  font-weight: bold;
}

#rightMessageContainer {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#messageProfPic {
  width: 5rem;
  height: 3rem;
}

#messageProfPic img {
  height: 100%;
}

#rightMessageTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#newThread {
  padding: 2rem 0;
  width: 100%;
  height: 2rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#newThread img {
  max-height: 100%;
  max-width: 100%;
}
